<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About-Us</title>
</head>
<body>
    {{>header}}
<header>
    <h1>ABOUT US</h1>
    <div class="selectan">
        <a href="index">Select Antenna  </a> > About-Us
    </div>
</header>
    <div class="bottom">
        {{>left}}
        <div class="right_b">
            <h2>SELECT TELECOM PVT LTD (An ISO 9001:2008 certified organization)</h2>
            <h4>(A NOIDA BASED COMPANY HAVING ITS CORPORATE OFFICE AT SECTOR-63 F-340)</h4>
            <p>Offers a comprehensive and elegant wireless solutions for Point to point links, point to multi 
                point links , for enterprise Wi-Fi applications, last mile wireless access, wireless ISPs, 
                municipal broadband networks etc. Though SELECT TELECOM PVT LTD was incorporated in the recent 
                year of 2002, it has now amply made its presence felt in the sphere of its activities through 
                consistent growth, reliability, technological ingenuity , elegance, optimal service, and highly 
                competitive charging of its products & services. Our wide-ranging portfolio includes all types of 
                Antennas of different frequencies like 2.4 Ghz and 5 Ghz, Wi-Fi Access Points (AP), Client Products(CPEs), 
                Hot Spot Gateways, Wireless ISP multipoint outdoor products, short and long range wireless Ethernet bridges 
                for backhauls, Pre-WiMAX/ WIMAX products, Ethernet solutions, Cable assembly and weather Proof Cabinets and 
                so on. Our Antenna Range is Popular Amongst some of the leading Wireless System Integrators like Bharti Airtel, 
                Vodafone, Idea and other Network Operators, Wireless Equipment Manufacturers, Telecom Companies and Service 
                Providers with OEM Partners.</p>
            <ul>
                <h3>PRODUCT RANGE:</h3>
                <li class="li1">5 Ghz 29 DBI MIMO DISH ANTENNA</li>
                <li class="li2">5 Ghz 26 DBI MIMO DISH ANTENNA</li>
                <li class="li2">5 GHz 29 DBI MIMO GRID ANTENNA</li>
                <li class="li2">5 Ghz 34 DBI MIMO DISH ANTENNA</li>
                <li class="li2">5 GHz 16 DBI MIMO SECTOR ANTENNA</li>
                <li class="li2">5 GHz 19 DBI MIMO SECTOR ANTENNA FULL RANGE OF PIGTAILS CABLES AND FULL RANGE OF 2.4 GHZ ANTENNAS</li>
            </ul>
        </div>
    </div>
    <style>
        .right_b ul
        {
            margin:0px;
            padding:0px;
            display: inline-block;
            position:absolute;
            top:35%;
            width:100%;
            font-size:15px;
            color:rgb(78, 77, 77);
        }
        .right_b ul h3
        {
            margin:0px;
            padding:0px;
            margin-top:-7%;
            margin-left:1%;
            margin-bottom:1%;
        }
        .right_b ul .li1
        {
            margin:0px;
            padding:0px;
            position: relative;
            left:7%;
        }
        .right_b ul .li2
        {
            margin:0px;
            padding:0px;
            position: relative;
            left:7%;
            margin-top:1%;
        }
    </style>
    {{>footer}}
</body>
</html>