<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select Antenna</title>
  </head>
  <body>
    {{>header}}
    {{>img_box}}
    <div class="bottom">
        {{>left}}
        <div class="right_b">
            <h2>SELECT TELECOM PVT LTD (An ISO 9001:2008 certified organization)</h2>
            <h4>(A NOIDA BASED COMPANY HAVING ITS CORPORATE OFFICE AT SECTOR-63 F-340)</h4>
            <p>Offers a comprehensive and elegant wireless solutions for Point to point links, 
                point to multi point links , for enterprise Wi-Fi applications, last mile wireless access,
                 wireless ISPs, municipal broadband networks etc. Though SELECT TELECOM PVT LTD was incorporated 
                 in the recent year of 2002, it has now amply made its presence felt in the sphere of its activities 
                 through consistent growth, reliability, technological ingenuity , elegance, optimal service, and 
                 highly competitive charging of its products & services. Our wide-ranging portfolio includes all 
                 types of Antennas of different frequencies like 2.4 Ghz and 5 Ghz, Wi-Fi Access Points (AP), 
                 Client Products(CPEs), Hot Spot Gateways, Wireless ISP multipoint outdoor products, short and 
                 long range wireless Ethernet bridges for backhauls, Pre-WiMAX/ WIMAX products, Ethernet solutions, 
                 Cable assembly and weather Proof Cabinets and so on.</p>
            <div class="image">
                <a class="img1" href="#"  onmouseover="picview1()" onmouseout="picview1()">
                    <img id="dbi16" src="/image/16antenna.jpg" alt="image" style="opacity: 0.6;"/>
                    <p id="pdbi16" style="color:black;">16 DBI MIMO SECTOR</p>
                </a>
                <a class="img2" href="#"  onmouseover="picview2()" onmouseout="picview2()">
                        <img id="dbi29" src="/image/29antenna.jfif" alt="image" style="opacity: 0.6;"/>
                        <p id="pdbi29" style="color:black;">29 DBI MIMO GRID ANTENNA</p>
                </a>
                <a class="img3" href="#"  onmouseover="picview3()" onmouseout="picview3()">
                        <img id="dbi5" src="/image/5antenna.jfif" alt="image" style="opacity: 0.6;"/>
                        <p id="pdbi5" style="color:black;">ELITE 5 MIMO</p>
                </a>
                <a class="img4" href="#"  onmouseover="picview4()" onmouseout="picview4()">
                        <img id="dbi4" src="/image/5elite.jfif" alt="image" style="opacity: 0.6;"/>
                        <p id="pdbi4" style="color:black;">ELITE 5 MIMO</p>
                </a>
                <script src="/js/img.js"></script>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>
