<footer>
    <div class="copy">
            <span class="span_a">Copyright © 2019 </span>
            <span class="span_b"><a href="pg1.html">Select Antenna.</a></span>
            <span class="span_a"> All rights reserved.</span>
    </div>
</footer>