<header>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/bottom_l.css"/>
    <link rel="stylesheet" href="/css/bottom_r.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <link rel="stylesheet" href="/css/contact.css"/>
    <div class="email">
            <img class="mail" src="/image/mail.png" alt="mail image"/>
            <a class="mail_link" href="mailto:selecttel1020@gmail.com">selecttel1020@gmail.com</a>,
            <a class="mail_link" href="mailto:sales@selectantenna.com">sales@selectantenna.com</a>
    </div>
    <nav>
        <ul>
            <li>
                <img class="select" src="/image/select.png" alt="select">
            </li>
        </ul>
        <ul class="menu" >
            <li><a id="home" href="index"> HOME</a></li>
            <li><a id="about" href="about"> ABOUT US</a></li>
            <li><a id="products" href="products"> PRODUCTS</a></li>
            <li><a id="mv" href="mission"> MISSION & VISION</a></li>
            <li><a id="contact" href="contact"> CONTACT US</a></li>
        </ul>
    </nav>
    <script src="/js/color.js"></script>
</header>