<img_box>
    <div onmouseover="showarrow();" onmouseout="showarrow();">
        <div class="wrap">
            <div id="arrow-left" class="arrow" style="visibility: hidden;"></div>
            <div id="slider">
                <div class="slide slide1">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide2">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide3">
                    <div class="slide-content">
                    </div>
                </div>
                <div class="slide slide4">
                        <div class="slide-content">
                        </div>
                    </div>
            </div>
            <div id="arrow-right" class="arrow" style="visibility: hidden;"></div>
            <div class="box">
                <div id="button1" class="button" style="visibility: hidden;"></div>
                <div id="button2" class="button" style="visibility: hidden;"></div>
                <div id="button3" class="button" style="visibility: hidden;"></div>
                <div id="button4" class="button" style="visibility: hidden;"></div>
            </div>
        </div>
    </div>
    <script src="/js/app.js"></script>
</img_box>