<left>
    <div class="left_b">
        <div class="p1">Product categories</div>
        <div class="p2 para">2.4 GHZ 14 DBI CPE</div>
        <div class="p3 para">2.4 GHZ 16 DBI CPE</div>
        <div class="p4 para">2.4GHZ GRID ANTENNA</div>
        <div class="p5 para">26 DBI MIMO DISH</div>
        <div class="p6 para">27 DBI MIMO DISH</div>
        <div class="p7 para">5 GHZ MIMO INTIGRATED CPE</div>
        <div class="p8 para">5.8 GHZ MIMO SOLID DISH</div>
        <div class="p9 para">5 GHZ GRID ANTENNA</div>
        <div class="p10 para">5 GHZ INTIGRATED CPE</div>
        <div class="p11 para">5 GHZ SOLID DISH ANTENNA</div>
        <div class="p12 para">ELITE CPE</div>
        <div class="p13 para">INDOOR CASING</div>
        <div class="p14 para">MIMO GRID ANTENNA 5 GHz</div>
        <div class="p15 para">MIMO SECTOR ANTENNA 5G</div>
        <div class="p16 para">OUTDOOR CASING</div>
        <div class="p17 para">SECTOR ANTENNA 2.4 GHZ</div>
    </div>
</left>